# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf
*.pyw text eol=lf

# Markdown files
*.md text eol=lf

# Text files
*.txt text eol=lf
*.json text eol=lf

# Binary files
*.mp3 binary
*.png binary
*.jpg binary
*.jpeg binary

